body {
    background: lightgray;
    
}
div {
    display: flex;
}
h1 {
    text-align: center;
}
#subtitle {
    text-align: center;
    text-decoration: wavy;
}

h2 {
    text-align: center;
    text-emphasis: bold;
}

#headshot {
    margin: auto;
    width: 200px;
    height: 200px;
}

#projects{
    margin: auto;
}

#projects > img{
    width: 200px;
    height: 200px;
}